*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    padding: 18px 0;
    background-color: green;
    color: whitesmoke;
}

header nav li {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 10px;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

header nav li a {
    color: black;
    text-decoration: none;
}

body, input, textarea {
    font-family: 'Exo 2', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, 
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos {
    height: 300px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 50px;
}

section h2 {
    margin-left: 8px;
    margin-bottom: 16px;
    color: #4a923f;
}
section p {
    margin-left: 16px;
    margin-bottom: 8px;
}

#contact .container{
    display: block;
}

.contacts {
display: flex;
justify-content: space-between;
}

form input,
textarea,
button{
    display: block;
    margin-bottom: 15px;
    width: 320px;
}

form button{
    height: 35px;
    background-color: green;
    color: whitesmoke;
    border-style: none;
    cursor: pointer;
}

form button:hover{
    background-color: #4a923f;
}

textarea {
    resize: none;
}

.redesocial img {
    height: 30px;
}
.redesocial li{
    display: inline-block;
    padding: 8px;
}

footer {
    background-color: green;
    color: whitesmoke;
    padding: 16px 0;
}